*
{
margin:0;
padding:0;
box-sizing:border-box;
}
html,body
{
height:100%;
width:100%;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: lawngreen;
}
.main-left{
    position: relative;
    height: 100%;
    width: 50%;
    background-image: url(https://50projects50days.com/projects/split-landing-page/ps.jpg);
    object-fit: cover;
    object-position: center;
}
.main-left-over{
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: rgb(87 84 236 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 2vw;
}
.main-left-over h1{
    max-width: 550px;
    font-size: 4vw;
    font-weight: 900;
    font-family: sans-serif;
}
.main-left-over button{
    padding: 2vw 5vw;
    font-size: 2vw;
    background-color: transparent;
    color: aliceblue;
    border: 5px solid white;
    cursor:pointer;
    pointer-events: all;
}
.main-right{
    position: relative;
    height: 100%;
    width: 50%;
    background-image: url(https://50projects50days.com/projects/split-landing-page/xbox.jpg);
    object-fit: cover;
    object-position: top;
}
.main-right-over{
    pointer-events: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.509);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 2vw;
}
.main-right-over h1{
    max-width: 550px;
    font-size: 3.8vw;
   
    font-weight: 900;
    font-family: sans-serif;
}
.main-right-over button{
    pointer-events: all;
    padding: 2vw 5vw;
    font-size: 2vw;
    background-color: transparent;
    color: aliceblue;
    border: 5px solid white;
    cursor: pointer;
}